@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html,body{
  height: 100%;
  width: 100%;
  font-family: "Poppins",sans-serif;
}
.navbar{
  padding: .8rem;
   background-color:#000000;
}
.navbar-nav li{
  padding-right: 20px;
}
.nav-link{
  font-size: 1.1em !important;
  
}
.navbar-brand{
  font-size: 1.1em;
}
/*.bg-dark{
  color:#000000;
}*/
.carousel-inner img{
  width: 100%;
  height: 50%;
}
.jumbotron{
  padding:1rem;
  border-radius: 0;
}
.padding{
  padding-bottom: 2rem;
}
.Welcome{
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}
.Welcome hr{
  border-top: 2px solid #b4b4b4;
  width:95%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}
.fa-monero{
  color:#e54d26;
}
.fa-dochub{
  color: orange;
  font-size: 6rem;
}
.fa-meetup{
  color: #563d7c;
}
.fa-monero,.fa-dochub,.fa-meetup{
  font-size:20rem;
}
.fun{
width:100%;
margin-bottom: 2rem;
}
.gif{
  width: 100%;
}
.social a{
  font-size: 3rem;
  padding:3em;
}
.fa-facebook{
  color: #3b5998;
}
.fa-twitter{
  color: #00aced;
}
.fa-instagram{
  color:#517fa4;
}
.fa-youtube{
  color:#bb0000;
}
.fa-facebook:hover,.fa-twitter:hover,.fa-instagram:hover,
.fa-youtube:hover{
  color: #d5d5d5;
}
footer{
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-top: 2rem;
}
footer a{
  color:#d5d5d5;
}
hr.light{
  border-top: 1px solid #d5d5d5;
  width:75%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}
/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {
  
}
@media (max-width: 576px) {
  
}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('down_img/img4.jpg');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
  padding-top: 20px;
}

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}


/*new styling*/

.modal-dialog {
  margin: 20px auto;
  width: 90%;
}
.mid_divider {
  display:none;
}
.modal .gray_text {
  margin-top: 50px;
}
.modal-content {
  max-height: 400px;
  overflow: auto;
  padding: 0 20px 22px;
}
.modal-footer {
  padding:15px 0;
}
.modal-dialog {
  width: 650px;
}
.modal-content {
  padding: 0 32px 22px;
}
.modal-header {
  padding:15px 0;
  margin-bottom:15px;
}
.modal-body {
  padding:8px 0;
}
.modal .modal-header .close {
  background: #000000 none repeat scroll 0 0;
  border-radius: 50%;
  color: #ffffff;
  font-size: 17px;
  height: 31px;
  line-height: 30px;
  margin-top: 5px;
  opacity: 1;
  text-align: center;
  text-shadow: none;
  width: 31px;
}

.card{
  width: 320px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-title{
  font-family: "Poppins",sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  color: rgb(106, 90, 205);
  text-shadow: 2px 2px 4px #000000;
  text-align: center;
}
.card-text{
  text-align: center;
}


.display-4{
  font-weight: bold;
  color:red;
}

footer {
  background-color: #000000;

}
/*.container-fluid{
  background-color: #000000;
  color:white;
}

.jumbotron{
  background-color: black;
}
/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
/*First page*/








